{% extends 'Filow/base.html' %}

{% block main %}
<h1>Filow</h1>
<h2>Bem vindo {{ user }}</h2>

<div>
    {% if not schedules %}
    <p>Sem horários por hoje</p>
    {% else %}
    {% for schedule in shcedules %}
    
    <div>
        <p>{{ schedule.subject }}</p>
        <h2>{{ schedule.begins_at }} ÁS {{ schedule.ends_at }}</h2>
        <h3>{{ schedule.classroom_tag }} {{schedule.classroom_quadrant}}</h3>
        <p>{{ schedule.teacher }}</p>
    </div> 
    
    {% endfor %}
    {% endif %}
</div>


<form method="post" action="{% url 'users:logout' %}">{% csrf_token %}
    <button type="submit">Sair</button>
</form>

{% endblock main %}